<h1>出席確認</h1>

<% form_for :presence, :url => {:action => 'create'} do |f| %>
<table>
<tr>
<td>科目名</td><td><%=h @presence.course.name %></td>
</tr>
<%= f.hidden_field 'course_id' %>
<tr>
<td>ID</td><td><%=h @presence.login %></td>
</tr>
<%= f.hidden_field 'login' %>
<tr>
<td>氏名</td><td><%=h @presence.name %></td>
</tr>
<%= f.hidden_field 'name' %>
<tr>
<td>E-mail</td><td><%=h @presence.mail %></td>
</tr>
<%= f.hidden_field 'mail' %>
<% if @presence.proxyed %>
<tr>
<td>友人のPCでの登録</td><td>はい</td>
</tr>
<% end %>
<%= f.hidden_field 'proxyed' %>
<%= f.hidden_field 'ip_addr' %>
</table>
<%= submit_tag('登録') %>
<% end %>
